extends ../header.pug

block content
    div(class='card bg-dark m-2')
        div(class="card-body")
            div(class="card")
                div(class="card bg-dark")
                    form(method="POST", action="add")
                        div(class="form-group m-3")
                            label(for="name" class="text-white") Book title:
                            input(type="text", name="title", class="form-control" placeholder="Book Title" required) 
                            hr(class="text-white")
                        div(class="form-group m-3")
                            label(for="name" class="text-white") Book description:
                            textarea(type="text", name="description", class="form-control" rows="2" required) 
                            hr(class="text-white")
                        div(class="form-group m-3")
                            label(for="name" class="text-white") Price:
                            input(type="number", name="price", class="form-control" placeholder="Price" required) 
                            hr(class="text-white")
                        div(class="form-group m-3")
                            label(for="name" class="text-white") Release date:
                            input(type="date", name="release_date", class="form-control" required) 
                            hr(class="text-white")
                        div(class="form-group m-3")
                            label(for="name" class="text-white") Writer:
                            select(class="form-control" name='writer_id')
                                each writer in writers
                                    option(value=writer.id) #{writer.name}
                            hr(class="text-white")
                        div(class="card m-3 mt-0")
                            button(type="submit" class="btn btn-dark") Add writer